@charset "utf-8";

/*========= レイアウトのためのCSS ===============*/

p{
  text-align: center;
  margin-top: 3rem;
  padding: 3rem;
  font-size:10rem;
  font-family: 'Bruno Ace SC', cursive;
  position:relative
}




/*========= 1文字ずつ出現させるためのCSS ===============*/

.eachTextAnime span{opacity: 0;}
.eachTextAnime.appeartext span{ animation:text_anime_on 1s ease-out forwards; }
@keyframes text_anime_on {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}





.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #ffdeb8;
  overflow: hidden;
}

.background span {
  width: 17vmin;
  height: 17vmin;
  border-radius: 17vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #a02727;
  top: 1%;
  left: 73%;
  animation-duration: 8s;
  animation-delay: -45s;
  transform-origin: -14vw 8vh;
  box-shadow: -34vmin 0 4.97892357785135vmin currentColor;
}
.background span:nth-child(1) {
  color: #3caf9a;
  top: 46%;
  left: 17%;
  animation-duration: 43s;
  animation-delay: -22s;
  transform-origin: -14vw -11vh;
  box-shadow: 34vmin 0 4.2682945059866vmin currentColor;
}
.background span:nth-child(2) {
  color: #1c29e3;
  top: 69%;
  left: 41%;
  animation-duration: 54s;
  animation-delay: -28s;
  transform-origin: 24vw -8vh;
  box-shadow: 34vmin 0 4.632440066933659vmin currentColor;
}
.background span:nth-child(3) {
  color: #1c29e3;
  top: 81%;
  left: 35%;
  animation-duration: 49s;
  animation-delay: -20s;
  transform-origin: 11vw -15vh;
  box-shadow: 34vmin 0 5.2437751773202566vmin currentColor;
}
.background span:nth-child(4) {
  color: #3caf9a;
  top: 29%;
  left: 52%;
  animation-duration: 41s;
  animation-delay: -30s;
  transform-origin: -3vw 25vh;
  box-shadow: 34vmin 0 4.848355893287336vmin currentColor;
}
.background span:nth-child(5) {
  color: #1c29e3;
  top: 36%;
  left: 73%;
  animation-duration: 16s;
  animation-delay: -5s;
  transform-origin: -21vw 7vh;
  box-shadow: -34vmin 0 4.51384925100468vmin currentColor;
}
.background span:nth-child(6) {
  color: #1c29e3;
  top: 59%;
  left: 84%;
  animation-duration: 52s;
  animation-delay: -48s;
  transform-origin: -20vw 14vh;
  box-shadow: 34vmin 0 4.995582511283205vmin currentColor;
}
.background span:nth-child(7) {
  color: #1c29e3;
  top: 51%;
  left: 71%;
  animation-duration: 39s;
  animation-delay: -20s;
  transform-origin: -9vw 7vh;
  box-shadow: -34vmin 0 4.894127402518867vmin currentColor;
}
.background span:nth-child(8) {
  color: #a02727;
  top: 50%;
  left: 88%;
  animation-duration: 53s;
  animation-delay: -29s;
  transform-origin: -9vw 2vh;
  box-shadow: 34vmin 0 5.021266825243911vmin currentColor;
}
.background span:nth-child(9) {
  color: #1c29e3;
  top: 46%;
  left: 53%;
  animation-duration: 29s;
  animation-delay: -30s;
  transform-origin: 14vw -13vh;
  box-shadow: -34vmin 0 4.679642812496723vmin currentColor;
}
.background span:nth-child(10) {
  color: #1c29e3;
  top: 64%;
  left: 62%;
  animation-duration: 55s;
  animation-delay: -43s;
  transform-origin: 15vw 13vh;
  box-shadow: 34vmin 0 4.717325687770959vmin currentColor;
}
.background span:nth-child(11) {
  color: #1c29e3;
  top: 34%;
  left: 84%;
  animation-duration: 14s;
  animation-delay: -32s;
  transform-origin: -13vw 21vh;
  box-shadow: -34vmin 0 4.8313068457896815vmin currentColor;
}
.background span:nth-child(12) {
  color: #3caf9a;
  top: 85%;
  left: 16%;
  animation-duration: 12s;
  animation-delay: -13s;
  transform-origin: 12vw 10vh;
  box-shadow: 34vmin 0 4.449691671853952vmin currentColor;
}
.background span:nth-child(13) {
  color: #1c29e3;
  top: 85%;
  left: 8%;
  animation-duration: 36s;
  animation-delay: -41s;
  transform-origin: -24vw 19vh;
  box-shadow: -34vmin 0 4.589333481902038vmin currentColor;
}
.background span:nth-child(14) {
  color: #a02727;
  top: 24%;
  left: 68%;
  animation-duration: 28s;
  animation-delay: -49s;
  transform-origin: -19vw 17vh;
  box-shadow: 34vmin 0 5.04869604421883vmin currentColor;
}
.background span:nth-child(15) {
  color: #a02727;
  top: 3%;
  left: 27%;
  animation-duration: 31s;
  animation-delay: -33s;
  transform-origin: -22vw 4vh;
  box-shadow: 34vmin 0 4.293263148282443vmin currentColor;
}
.background span:nth-child(16) {
  color: #1c29e3;
  top: 93%;
  left: 92%;
  animation-duration: 48s;
  animation-delay: -19s;
  transform-origin: -22vw 14vh;
  box-shadow: 34vmin 0 4.458737486818501vmin currentColor;
}
